# Environnement virtuel pour la segmentation
venv_segmentation/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# OS
.DS_Store
Thumbs.db
